




<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
   <wicket:panel>
    <div class="header default">
        <div class="l-container">
            <div class="logo">
                <a href="HomePage.html" target="_top"><img wicket:id="headerimage" alt="Adventure Learning Programs" /></a>
            </div>
			<div class="text-right">
	       	<wicket:link><a href="HomePage.html">Home</a></wicket:link>&#160;
	       	<wicket:link><a wicket:id = "signInButton"><span wicket:id = "signInText"></span></a></wicket:link>&#160;
            </div>
			<div>
			  <wicket:child/>
			</div>
		</div>
    </div>
   </wicket:panel>
</body>
</html>


